---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Logos from '../components/Logos.astro';
import LastBlogs from '../components/LastBlogs.astro';
import Contacto from '../components/Contacto.astro';
import Nosotros from '../components/Nosotros.astro';
import WhatsApp from '../components/WhatsApp.astro';

---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Hero />
			<Nosotros />
			<Services />
			<Logos />
			<div class="container mx-auto">
				<LastBlogs />
			</div>
			<Contacto/>
		</main>
		<Footer />
		<WhatsApp />
	</body>
</html>
