---
---
<!-- Slider main container -->
<div class="swiper mySwiper1 w-full h-full">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper text-sm text-left ">
      <!-- Slides -->
      <div class="swiper-slide px-10 py-2">Acces Professional Edition - APE v2.1: Certificado otorgado por Bosch Sistemas de Seguridad realizado</div>
      <div class="swiper-slide px-10 py-2">Bosch Video Client - IVA : Certificado otorgado por Bosch Sistemas de Seguridad</div>
      <div class="swiper-slide px-10 py-2">Curso de Inducción a Sistemas Contra Incendios- Diploma otorgado por la empresa Segman SA de CV</div>
      <div class="swiper-slide px-10 py-2">Curso de Preparación a Certificación a Notifier: Diplomado otorgado por la empresa Segman SA de CV</div>
      <div class="swiper-slide px-10 py-2">Certificación Pro-Watch 4.2 y Maxpro NVR: Certificado otorgado por Honeywell</div>
      <div class="swiper-slide px-10 py-2">Certificación de Socio “Diamante” para el programa CCS de Leviton en sistemas de cableado certificado aseguramiento de aplicación y garantía de desempeño</div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev swiper-button-prev"></div>
    <div class="swiper-button-next swiper-button-next"></div>

  </div>

<script src="../libs/simple-slider.js"></script>