---
const today = new Date();
---

<footer class="bg-[#0f0d1d] relative px-4 md:px-6" id="contacto">
	<img src="/img/footer-shadow.png" class="absolute bottom-0 right-0 left-0 mx-auto z-1 opacity-40"/>
	<div class="relative z-10">
		<div class="text-white container mx-auto py-12 flex flex-col md:flex-row gap-10">
			<div class="w-full md:w-1/2">
				<h2 class=" text-3xl">Te interesan nuestros servicios?</h2>
				<p>Llamanos o envianos un correo y nos pondremos en contacto contigo!</p>
				<div class="my-5">
					<div class=" mb-4">
						<a href="tel:+523311841404" class="flex gap-5 items-center">
							<img src="/img/phone-call.png" class="bg-white rounded-md p-4 w-16"/>
							<div>
								Ing. Alfonso Valentin Parada Fuentes <br>
								+523311841404
							</div>
						</a>
					</div>
					<div class="mb-4">
						<a href="https://maps.app.goo.gl/wQBLyS2B5kYwzHxm9" target="_blank" class="flex gap-5 items-center "> 
							<img src="/img/maps.png" class="bg-white rounded-md p-4 w-16"/>
							<div class="">
								Calle Pirul #1437 Int - 8 Col. Paraisos del Colli , Zapopan, Jalisco C.P 45069
							</div>
						</a>

					</div>
					<div class="flex gap-5 items-center mb-4">
						<img src="/img/envelope.png" class="bg-white rounded-md p-4 w-16"/>
						<div class="">
							<a href="mailto:alfonso.parada@grupoisco.mx" class="break-all sm:break-normal">
								alfonso.parada@grupoisco.mx
							</a> <br>
							<a href="mailto:proyectos@grupoisco.mx" class="break-all sm:break-normal">
								proyectos@grupoisco.mx
							</a>
						</div>
					</div>
				</div> 

			</div>
			<div class="w-full md:w-1/2">
				<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3733.5315673047257!2d-103.45844212416542!3d20.647941980907802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2s!5e0!3m2!1sen!2smx!4v1715201514094!5m2!1sen!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
		<div class="text-center text-white border-t-[1px]">
			&copy; {today.getFullYear()} Grupo Isco. All rights reserved.
		</div>
	</div>
</footer>
