---
import Button from "./Button.astro"
---
<div class="h-screen custom-bg">
    <div class="container flex items-center lg:items-end md:pb-20 h-full mx-auto px-2 md:px-6">
        <div class="text-white max-w-[800px]">
            <span class="bg-[rgba(255,255,255,0.2)] rounded-md p-2 uppercase text-sm lg:text-xl">Expertos en seguridad Electrónica</span>
            <h1 class="text-3xl lg:text-6xl font-bold mt-3"> Integradora de servicios a la Construcción</h1>
            <p class="text-xl lg:text-3xl mb-5">Ofrecemos Sistemas Integrales de Seguridad que dan tranquilidad a tu negocio.</p>
            <Button title="Ver nuestros servicios" href="#servicios"/>
        </div>
        <img>
    </div>
</div>