---
import ShapeContainer from "./ShapeContainer.astro"

const clientes = [
    {
        alt : "Oxl logo",
        img: "/img/clientes/oxl.png"
    },
    {
        alt : "Consejo de la Judicatura Federal logo",
        img: "/img/clientes/cjf.jpg"
    },
    {
        alt : "Alen logo",
        img: "/img/clientes/alen.jpg"
    },
    {
        alt : "Atlatec logo",
        img: "/img/clientes/atlatec.png"
    },
    {
        alt : "Colegio internacional SEK Guadalajarra logo",
        img: "/img/clientes/colegio-internacional-sek-guadalajara-logo.jpeg"
    },
    {
        alt : "Suprema Corte de Justicia logo",
        img: "/img/clientes/suprema-corte-de-justicia.png"
    },
    
]
---
<div class="mt-[-170px]">
    <div class="shadow-lg bg-white relative  min-h-[220px] max-w-6xl mx-auto rounded-sm py-10" >
        <img class="absolute right-0 -z-1 opacity-20" src="/img/bg-shape-right.png"/>
        <div class="relative flex items-center w-full z-10 p-5 min-h-[220px] h-full px-10">
            <div class="swiper mySwiper3 w-full h-full">
                <!-- Additional required wrapper -->
                <h2 class="text-3xl pb-4 md:pb-0 text-center md:text-left">Nuestros clientes</h2>
                <div class="swiper-wrapper py-5">
                    <!-- Slides -->
                    {clientes.map((img) => 
                    <div class="swiper-slide">
                        <div class="h-[100px] flex items-center justify-center px-10">
                            <img class="w-full h-full object-contain mx-auto block" src={img.img} alt={img.alt} /> 
                        </div>
                    </div>
                    )}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>


<script src="../libs/slider-logos.js"></script>