---
---
<div> 
    <h2>Proyectos ejecutados</h2>
    “Remodelacion Hospital Valentin Gomez Farias (Voz y Datos, CCTV, Detección de Incendios) del ISSTE”
    “Instalación de todos los sistemas Especiales en Unidad Medica Familiar del IPEJAL (Voz y Datos, CCTV, Detección de Incendios, Control de Accesos, Audio)  
    Sistema de alarmas en residencial privado Tres Lagos HU/Lifestyle
    Instalación de sistema de extracción en sótanos, detección de gas, sistema de detección de incendios en torre de departamentos La Rioja
    Instalación de sistemas de CCTV, Voz y Datos, Detección de Incendios en Hotel Selina
</div>