---
---
<div class="gradient-bg relative  min-h-[220px] max-w-6xl mx-auto rounded-sm" style="">
    <img class="absolute right-0 -z-1" src="/img/bg-shape-right.png"/>
    <div class="relative flex items-center w-full z-10 p-5 min-h-[220px] h-full">
        <slot />
    </div>
</div>