---
---
<div class="bg-green-800 fixed bottom-2 right-2 md:bottom-5 md:right-5 flex gap-2 px-4 py-2 rounded-md items-center z-[999]">
    <img src="/img/whatsapp.png" width="30px" height="30px"/>
    <a href="" class="text-white font-bold text-sm md:text-lg">
        WhatsApp
    </a>
</div>